.list-question-container {
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 15px;
    font-size: 14px;
}

.list-question-container button {
    font-size: 14px;
}

.modal-dialog {
    min-width: 800px !important;
}

.breadcrumb {
    font-size: 16px;
    margin-bottom: 15px;
    color: #6c757d;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-current {
    font-weight: bold;
    color: #343a40;
}

