.navbar-brand img {
  width: 120px;
  height: auto;
}

.custom-navbar .nav-link {
  color: black !important;
  min-width: 92px;
}

.offcanvas-body .nav-link {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.custom-navbar .nav-link:hover {
  color: #2993df !important;
}

.custom-navbar #account-dropdown-item:hover {
  color: #2993df !important;
}

#offcanvasNavbar {
  width: 250px;
}

@media (min-width: 992px) {
  .offcanvas {
    display: none;
  }
}
