.link-btn:hover{
    background-color: rgb(32, 97, 237);
    color: white;
}

.link-btn {
    height: 40px;
}

li.tbl-action.disabled {
  pointer-events: none; /* chặn toàn bộ click */
  opacity: 0.5;
  cursor: not-allowed;
}
