.icon-card {
    font-weight: 20px;
    font-size: 20px;
}

.frame-icon {
    background-color: #368DE4;
    padding: 4px 15px 8px 15px;
    border-radius: 8px;
    color: #ffff;
    /* box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2); */
    box-shadow: 3px 3px 15px rgba(164, 163, 163, 0.3);
}
