.dashboard-page {
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #F8F9FA;
    height: 100%;
}

.content-1 {
    display: flex;
    justify-content: space-between; /* Hoặc center nếu muốn */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 20px; /* Khoảng cách giữa 2 biểu đồ */
    width: 100%;
    margin-top: 20px;
}

.content-1 > div {
    flex: 1; /* Chia đều không gian */
    max-width: 50%; /* Giữ mỗi biểu đồ trong phạm vi 50% */
}

.card-dash {
    display: flex;
    justify-content: space-between; /* Hoặc center nếu muốn */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 20px; /* Khoảng cách giữa 2 biểu đồ */
    width: 100%;
    border-radius: 15px;
}

.line-chart {
    border-radius: 15px;
}

@media (max-width: 760px) {
    .dashboard-page {
      width: 100%;
      box-sizing: border-box;
      overflow-y: auto;
      padding-left: 80px;
      transition: width 0.3s ease-in-out;
    }
  }