.container-score-room {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.score-table-container {
    background-color: white;
}

.table-custom-score td, .table-custom-score th {
    padding: 5px; 
    font-size: 14px; 
    white-space: nowrap;
    align-items: center;
    background-color: white;
    border: 1px solid black !important;
  }
  
/* .table-custom-score td {
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
} */

/* .table-custom-score th, .table-custom-score td {
    vertical-align: middle; 
    text-align: center; 
} */

.score-table-container .table-custom-score td:nth-child(2),
.score-table-container .table-custom-score td:nth-child(3) {
    text-align: left !important; 
}

.table-custom-score th {
    color: black;
}

.table-custom-score {
    margin: auto; 
}

#printable-score-table {
    width: 21cm !important;
    min-height: 29.7cm !important;
    padding: 2cm !important;
    background-color: white !important;
    box-sizing: border-box !important;
}

@page {
    size: A4;
    margin: 2cm;
}

@media print {
    body {
      font-family: "Times New Roman", Times, serif !important;
      color: black;
    }
    
    .score-table-container .table-custom-score td:nth-child(2),
    .score-table-container .table-custom-score td:nth-child(3) {
        text-align: left !important;
    }

  }