.text-blue-holo {
    margin: 0px;
    font-size: 1.875rem;
    line-height: 1.375;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(23, 193, 232);
    font-weight: 700;
    background-image: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}
.css-btn {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.02857em;
    min-width: 64px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 0.5rem;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    transition: 150msease-in;
    min-height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0rem 0.25rem 0.4375rem -0.0625rem, rgba(0, 0, 0, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
    padding: 0.75rem 1.5rem;
    background-image: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
    background-position-y: initial;
    color: rgb(255, 255, 255);
    background-size: 150% !important;
    background-position-x: 25% !important;
}
/* Hiệu ứng hover cho nút */
.css-btn:hover {
    background-image: linear-gradient(310deg, rgb(33, 212, 253), rgb(33, 82, 255));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    color: rgb(255, 255, 255);
}

/* Hiệu ứng khi click vào nút */
.css-btn:active {
    transform: translateY(0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: white !important;
}