.sample-table tr {
    height: 60px;
  }

.text-hover-primary:hover {
  color: #0d6efd !important;
  cursor: pointer;
}

.sample-card-header .search-box {
  width: 250px;
  position: relative;
  border: #dee2e6 solid 1px;
  padding: 6px 12px;
}

.sample-card-header .search-box .search-input {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-input:focus {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-icon {
  color: #ccc;
}

.sample-table tr {
  height: 60px;
}

.text-hover-primary:hover {
  color: #0d6efd !important;
  cursor: pointer;
}

.sample-card-header .search-box {
  width: 250px;
  position: relative;
  border: #dee2e6 solid 1px;
  padding: 6px 12px;
}

.sample-card-header .search-box .search-input {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-input:focus {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-icon {
  color: #ccc;
}