.sample-table tr {
    height: 60px;
  }

.text-hover-primary:hover {
  color: #0d6efd !important;
  cursor: pointer;
}

.sample-card-header .search-box {
  width: 250px;
  position: relative;
  border: #dee2e6 solid 1px;
  padding: 6px 12px;
}

.sample-card-header .search-box .search-input {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-input:focus {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-icon {
  color: #ccc;
}

.sample-table tr {
  height: 60px;
}

.text-hover-primary:hover {
  color: #0d6efd !important;
  cursor: pointer;
}

.sample-card-header .search-box {
  width: 250px;
  position: relative;
  border: #dee2e6 solid 1px;
  padding: 6px 12px;
}

.sample-card-header .search-box .search-input {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-input:focus {
  border: none;
  outline: none;
}

.sample-card-header .search-box .search-icon {
  color: #ccc;
}

/* Xóa hết border */
.tbl-organize td{
  /* border-collapse: collapse;
  width: 100%; */
  background-color: #ffff !important; /* Màu nền tổng thể của bảng */
}

.tbl-organize th,
.tbl-organize td {

  padding: 10px; /* Tạo khoảng cách giữa nội dung và ô */
}

.tbl-organize tbody tr {
  transition: all 0.3s ease-in-out;
}

/* Hiệu ứng hover: hàng có màu trắng và có box-shadow */
.tbl-organize tbody tr:hover {
  background-color: white !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.001); /* Làm cho hàng to nhẹ khi hover */
  cursor: pointer;
}
