/* Đảm bảo bảng tài khoản không tràn ra ngoài */
.log-table-container {
    width: 100%;
}

/* Định dạng lại bảng để phù hợp với giao diện admin */
.log-table {
    width: 100%;
    border-collapse: collapse;
}

.log-actions {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between;
    width: 100%;
}

.action-selector {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.breadcrumb-log-container {
    font-size: 16px;
}

 .filter-btn {
    height: 38px;
 } 
