.room-table-container {
  width: 100%;
}

.room-table {
  width: 100%;
  border-collapse: collapse;
}

.room-actions {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between;
  width: 100%;
}