.breadcrumb-container {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .breadcrumb-link {
    text-decoration: none;
    color: #007bff;
  }
  
  .breadcrumb-current {
    font-weight: bold;
  }
  