.header-candidate-takexam-container{
    background-color: #d0e8ff; /* Màu xanh nhạt */
    padding: 10px 120px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 65px;
    position: fixed; /* Giữ cố định trên cùng */
    top: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo header nằm trên các phần khác */
}

.container-take-exam {
    padding-top: 70px;
    gap: 15px;
    margin-bottom: 5px;
}

.content-take-exam {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sidebar-take-exams {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: sticky;
    top: 60px;
    margin-right: 10px;
    min-width: 350px;
}

.timer-take-exam {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.time-title-take-exam {
    font-size: 18px;
    font-weight: bold;
}

.time-count-take-exam  {
    color: #f78d06;
    font-size: 28px;
}

.progress-take-exam {
    padding: 10px;
    border-radius: 10px;
}

.progress-take-exam p {
    margin: 0;
    font-size: 18px;
}

.progress-detail-take-exam {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap:10px
}

.progress-container-take-exam {
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px auto;
}

.progress-bar-take-exam {
    margin: 0;
    width: 0;
    height: 6px;
    background-color: #007bff;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.5s ease;
    border-radius: 5px;
}

.questions-nav-take-exam {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.questions-nav-take-exam button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.questions-nav-take-exam button.active {
    background-color: #007bff;
    color: white;
}

.questions-nav-take-exam button:hover {
    background-color: #007bff;
    color: white;
}

button.finish {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-submit{
    border-radius: 7px;
    min-width: 100px;
}
