button {
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.header-question-take-exam {
    justify-content: space-between;
    padding: 0px;
}

.question-take-exam {
    border-radius: 10px;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 5px;
}

.options-take-exam {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.options-take-exam li {
    margin-bottom: 3px;
}

.question-take-exam p{
    
}

.options-take-exam input{
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}



.header-question-take-exam button {
    background-color: #ffffff;
    border: solid 1px #d8d8d8;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #e4e4e6;
}